# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Dependency directories
jspm_packages/

# Build / production
dist
build

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VSCode settings
.vscode/

# Mac/Windows system files
.DS_Store
Thumbs.db
